<html>
<head>
    <script type="text/javascript" src="https://unpkg.com/vis-data@latest/peer/umd/vis-data.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network@latest/peer/umd/vis-network.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vis-network/styles/vis-network.min.css" />
</head>
<body>
<div style="margin:0;padding:0">
 <form action="/rediscover" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="ip">IP address:</label>
  <input type="text" id="ip" name="ip">
  <label for="login">Username:</label>
  <input type="text" id="login" name="login">
  <label for="pass">Name:</label>
  <input type="text" id="pass" name="pass">
  <label for="type">Type:</label>
  <select id="platform" name="platform">
  {%- for p in platforms -%}
  <option value="{{p}}">{{p}}</option>
  {%- endfor -%}
  <input type="submit" value="Rediscover">
</select>
</form>
</div>
<div id="mynetwork"></div>

<script type="text/javascript">

    // create a network
    var container = document.getElementById('mynetwork');

    var options = {
        interaction: {
            navigationButtons: true,
            hover: true
        },
        nodes: {
            font: {
                size: 18
            }
        },
        edges: {
            font: {
                align: "middle",
                size: 5
            },
            smooth: true,
            width: 1.5
        },
        physics: {
            barnesHut: {
                springLength: 100,
                avoidOverlap: 1,
                gravitationalConstant: -5000
            }
        },
        manipulation: {
            editNode: function(nodeData,callback) {
                var text = window.prompt("Enter node name", "Node")
                nodeData.label = text;
                callback(nodeData);
                }
        }
    };

        // create an array with nodes
    var nodes = new vis.DataSet([
        {%- for x in nodeset -%}
        {id: {{x.id}}, label: "{{x.name}}", title: "{{x.get_title()}} [{{x.platform}}]"},
        {%- endfor -%}
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
        {%- for x in edgeset -%}
        {from: {{x.head.id}}, to: {{x.tail.id}}, title: "{{x.get_title()}}", label: "{{x.get_title()}}"},
        {%- endfor -%}
    ]);

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    
    // initialize your network!
    var network = new vis.Network(container, data, options);
    network.on("stabilizationIterationsDone", function () {
    network.setOptions( { physics: false } );
    });

    
</script>
</body>
</html>
